<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 연결할 인터페이스 경로를 namespace에 작성 -->
<mapper namespace="com.it.example.mappers.BoardMapper">
	<select id="getList" resultType="boardVO">
		<![CDATA[ 
		SELECT * FROM TBL_BOARD WHERE BNO > 0
		]]>
	</select>
	<insert id="insert">
		INSERT INTO TBL_BOARD(BNO, TITLE, CONTENT, WRITER) VALUES(NEXTVAL(SEQ_BOARD), #{title}, #{content}, #{writer})
		<!-- #{}을 써주면 VO에서 알아서 꺼내옴. -->
	</insert>
</mapper>