<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-sclae=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" href="/css/bootstrap/bootstrap.css" type="text/css">
	<style>
		@media (max-width: 918px) {
			.writer {display: none;}
			.regdate {display: none;}
			.updatedate  {display: none;}
		}
	</style>
<title>List</title>
</head>
<body>
	<div class="wrapper">
			<!-- Elements -->
			<header class="major">
				<h1>Board</h1>
				<hr>
				<p>게시물 목록</p>
			</header>
			<!-- Table -->
			<h3><a href="">Write</a></h3>
			<div class="table-wrapper">
				<table class="table">
					<thead>
						<tr class="tHead">
							<th class="bno">글 번호</th>
							<th class="title">글 제목</th>
							<th class="content">글 내용</th>
							<th class= "writer">작성자</th>
							<th class="regdate">작성일자</th>
							<th class="updatedate">수정일자</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="board:${list}" >
							<tr class="tBody" th:object="${board}">
								<td class="bno" th:text="*{bno}"></td>
								<td class="title" ><a th:text="*{title}" th:href="@{/board/get(bno=*{bno})}"></a></td>
								<td class="content" th:text= "*{content}"></td>
								<td class= "writer" th:text= "*{writer}"></td>
								<td class="regdate"  th:text= "*{regdate}"></td>
								<td class="updatedate"  th:text= "*{updatedate}"></td>
							</tr>
						</th:block>
					</tbody>
					<tfoot>
						
					</tfoot>
				</table>
			</div>
	</div>
</body>
</html>