<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>File Upload</title>
</head>
<body>
	<h1>File Upload Test(Ajax)</h1>
	<hr>
	<div class="uploadDiv">
		<input type="file" name="uploadFile" multiple style="width: 200pt;" />
	</div>
	<hr>
	<button id="uploadBtn" style="width: 200pt;">Submit</button>
</body>
<script src="/js/jquery.js"></script>
<script>
	$(document).ready(function(){
		$("#uploadBtn").on("click", function(e){
			
			//file extension test를 위한 구현
			
			let regex = new RegExp("(.*?)\.(exe|sh|zip|alz)$");
			let maxSize = 5242880; // 5MB
			
			// true면 업로드 허용, false면 업로드 불가능
			function checkExtension(fileName, fileSize){
				if(regex.test(fileName)){
					alert("업로드 불가능");
					return false;
				}
				
				if(fileSize >= maxSize){
					alert("파일 크기 초과");
					return false;
				}
				
				return true;
			}
				
				
			let inputFile = $("input[name='uploadFile']");
			let files = inputFile[0].files;
			console.log(files);
			
			// formData 이용, fromData 추가하기
			let formData = new FormData();
			for(let i=0; i<files.length; i++){
				if(!checkExtension(files[i].name, files[i].size)){
					return;
				}
				formData.append("uploadFile", files[i]);
			}
			
			$.ajax({
				url: "uploadAjaxAction",
				processData: false,
				contentType: false,
				data: formData,
				type: "POST",
				success: function(){
					alert("File Uploaded Success!!");
				},
				error: function(){
					alert("대오류 발생...");
				}
			
			});
			
		});
	});
</script>
</html>